extends layout

block content
    script(src='/javascripts/manage.js')
    .container#main
      nav.navbar.navbar-default(role='navigation')
        .container-fluid
          ul.nav.navbar-nav.navbar-left
            li
              p#notice.navbar-text(style='display:none;')
                span.glyphicon.glyphicon-comment
                span#message(style='margin-left: 5px;') New Message
          ul.nav.navbar-nav.navbar-right
            li
              a(href='/userpage') User Page
          ul.nav.navbar-nav.navbar-right
            li
              a#logout(href='/logout') Sign Out

      h1= title
      p Welcome to #{title}
      table.table.table-striped
        thead
          tr
            th Username
            th _id
            th Role
            th Action
            th Delete
        tbody#ulist
          each user in userlist
            tr
              td= user.username
              td= user._id
              td= user.role
              td
              td
                button.btn.btn-link(data-toggle='modal', data-target='#confirm')
                  span.glyphicon.glyphicon-trash
                #confirm.modal.fade(tabindex='-1', role='dialog', aria-labelledby='modaltitle', aria-hidden='true')
                  .modal-dialog
                    .modal-content
                      .modal-header
                        button.close(type='button', data-dismiss='modal')
                          span(aria-hidden='true') &times;
                          span.sr-only Cancel
                        h4#modaltitle.modal-title Confirm Delete
                      .modal-body
                        p Are you sure to delete this account?
                      .modal-footer
                        button.btn.btn-defalut(data-dismiss='modal') Cancel
                        button.btn.btn-danger.deluser(id='#{user._id}') Delete