extends layout

block content
    .container#main
      nav.navbar.navbar-default(role='navigation')
        .container-fluid
          ul.nav.navbar-nav.navbar-left
            li
              p#notice.navbar-text(style='display:none;')
                span.glyphicon.glyphicon-comment
                span#message(style='margin-left: 5px;') New Message
          ul.nav.navbar-nav.navbar-right
            li
              a(href='/userpage') User Page
          ul.nav.navbar-nav.navbar-right
            li
              a#logout(href='/logout') Sign Out

      h1= title
      p Welcome to #{title}
      table.table.table-striped
        thead
          tr
            th Username
            th _id
            th Role
            th Action
        tbody
          each user in userlist
            tr
              td= user.username
              td= user._id
              td= user.role
              td